.movies-card-list {
  margin: 80px auto 0;
  display: flex;
  flex-direction: column;
}

.movies-card-list__container {
  margin-bottom: 30px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 32px;
}

.movies-card-list__error {
  display: inline-block;
  margin: 0 auto;

  max-width: 800px;

  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.movies-card-list__devider {
  display: flex;

  height: 166px;
}

.movies-card-list__devider_alternative {
  height: 140px;
}

.movies-card-list__more-button {
  margin: 50px auto;

  width: 320px;
  height: 36px;

  cursor: pointer;
  border: none;
  border-radius: 6px;
  background: #F4F4F4;

  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.movies-card-list__more-button:hover {
  opacity: 0.8;
}

@media screen and (max-width:1160px) {
  .movies-card-list {
    margin: 80px auto 0;

    max-width: 708px;
  }

  .movies-card-list__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media screen and (max-width:737px) {
  .movies-card-list {
    margin: 50px auto 0;

    max-width: 300px;
  }

  .movies-card-list__container {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .movies-card-list__more-button {
    width: 240px;
  }
}
