.header {
  display: flex;
  height: 74px;
  background-color: #DDDEE3;
}

.header_white {
  background-color: #FAFAFA;
}

.header__logo {
  height: 38px;
  width: 38px;
  margin: 18px 0 18px 70px;
  background-image: url(../../images/logo.svg);
}

.header__menu {
  margin: 28px 0 28px 45px;
  width: 211px;
  height: 18px;
  display: flex;
  justify-content: space-between;
}

.header__menu-link {
  text-decoration: none;
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.header__menu-link:hover {
  opacity: 0.7;
}

.header__menu-link_active {
  font-weight: 500;
}

.header__profile-container {
  display: flex;
  margin: 21px 70px 21px auto;
}

.header__profile-link {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  min-width: 96px;
  height: 28px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px
}

.header__profile-link:hover {
  opacity: 0.7;
}

.header__profile-signup {
  margin-right: 30px;
  align-self: center;
  text-decoration: none;
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.header__profile-signup:hover {
  opacity: 0.7;
}

.header__profile-signin {
  padding: 8px 20px;
  border-radius: 3px;
  background: #3456F3;
  text-decoration: none;
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.header__profile-signin:hover {
  opacity: 0.8;
}
